.slider-wrapper{
    background-color: white;
    height: auto;
    padding: 0 30px;
    padding-bottom: 0;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 20fr 1fr;
}

.slider-content{
    height: auto;
    width: 1200px;
    background-color:none;
}

.calendar-content{
    width: inherit;
    height: inherit;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #a6a6a6;
}

.btn i:hover{
    color: black;
}

.calendar-content h1{
    text-align: center;
    width: 100%;
    margin: 10px 0;
}

.calendar{
    width: 100%;
    /* border-collapse: collapse; */
}

.calendar th{
    height: 30px;
}

.calendar tr td{
    height: 72px;
    padding: 10px;
}

.calendar tr th, .calendar tr td{
    background-color: #e3f2ff;
    border-radius: 10px;
    width: 50px;
}

.calendar tr td:hover{
    background-color: #c2e2ff;
    transition: 0.2s ease-in;
}

.edit-btn-wrapper{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.edit-btn-wrapper button{
    padding: 5px 37px;
    background-color: white;
    border: solid 1px black;
    border-radius: 5px;
}

.edit-btn-wrapper button:hover{
    background-color: black;
    border: solid 1px black;
    color: white;
    transition: 0.2s ease-in;
}

.event{
    background-color: #f9e6ff !important;
    max-width: 50px;
}

.event span{
    margin-left: 8px;
    font-size: 10px;
}

.event:hover{
    background-color: #f4d4ff !important;
}

.sembreak{
    background-color: #d4ffe1 !important;
}

.special{
    max-width: 50px;
    background-color: #ffa3bc !important;
}

.special:hover{
    background-color: #ff2660 !important;
    color: white;
}

.special span{
    margin-left: 8px;
    font-size: 10px;
}

@media screen and (max-width: 680px) {
    .slider-wrapper{
        background-color: white;
        height: auto;
        padding: 0 5px;
        /* padding-bottom: 0; */
        /* border-radius: 10px; */
        display: grid;
        grid-template-columns: 1fr 20fr 1fr;
    }
    .slider-content{
        height: auto;
        width: auto;
        background-color:none;
    }
    .edit-btn-wrapper button{
        padding: 5px 37px;
        background-color: white;
        border: solid 1px black;
        border-radius: 5px;
    }
    .edit-btn-wrapper{
        justify-content: center;
    }
    .slider-wrapper{
        font-size: 10px;
    }
    /* .slider-content{
        font-size: 8px;
    } */
    .calendar tr th, .calendar tr td{
        font-size: 12px;
    }
    .event span, .special span{
        font-size: 8px;
        display: block;
    }

}